<div class="container-fluid head">
	<div class="row col-lg-12">
		<div class ="header-content">
        
            <img src="https://s1.postimg.org/ntbwk2g1b/image.jpg" class="me">
    		<h1 class="white">Ali Pokrywka</h1>
            <h4 class="white">(poh-krif-kah)</h4>
            <hr>
    		<h3 class="white">Front-End Web Developer | Graphic Designer | Writer</h3>
    				
    </div>
  </div>
 </div>
 
 <section>
  <div class="alt-section">
        <div class="container-fluid">
            <div class="row">
                <div class="container cont-box">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <h1 class="text-center white-light">About Me</h1>
                            <hr>
                            <br>
                            <div id="about-img" class="cropcircle pull-left"></div>
                            <p class="off-white">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                            <p class="off-white">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                        </div>
                    </div>
                </div>
            </div>
          <div class="col-md-4">
              <div class="skill-menu" ng-click="reveal()"><h4>Web Development</h4>
                
                <p class="info" style="display:none">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                
              </div>
          </div>
          
          <div class="col-md-4">
              <div class="skill-menu" ng-click="reveal()"><h4>Graphic Design</h4>
                
                <p class="info" style="display:none">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                
              </div>
          </div>
          
          <div class="col-md-4">
              <div class="skill-menu" ng-click="reveal()"><h4>Writing</h4>
                
                <p class="info" style="display:none">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                
              </div>
          </div>
          
        </div>
 </section>